// See: https://sass-lang.com/

body,
html {
  margin: 0;
}
.navbar a {
  width: 9em;
}
.map_Logo{
  height: 700px;
  width: 700px;
}
.username{
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-between;
  width: 17%;
}
#map {
  height: 400px;
}
#showmap{
  height: 700px;
  width:700px;
}
.mapcontainer{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 1em;
}
.userMap{
  height: 400px;
}
