// See: https://sass-lang.com/

body,

html {
  margin: 0;
}
.navbar{
  font-size: 20px;
  font-weight: bold;
}
.navbar a {
  color:black;
  width: 8em;
}
.map_Logo{
  height: 700px;
  width: 700px;
}
.navbar button{
  width: 10em;
}
.username{
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-between;
  width: 15%;
}
#caption {
  padding: 15px;
}
.showUserMap{
  height: 400px;
}

//Favourite table styling

.favourite_style {
  padding-top: 20px;
  display: flex;
  flex-direction:column ;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 50px;
  background-color: #FDFD96;
  border-radius: 10px;
  width: 70%;
  margin: 0 auto;

}
.favouriteHeader{
  display: flex;
  width: 50%;
  justify-content: space-between;

}
.favdata{
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-between;
}
.favTitle{
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.favTitle a{
  color: black;
  font-size: 20px;
}
//ALL MAPS STYLING
.mapList{
background-color: #FDFD96;
border-radius: 10px;
font-size: 20px;
width:55%;
margin: 0 auto;
padding-top:20px;
margin-top: 40px;
}
.mapList table{
  text-align:left;
  margin-left: 80px;

}

.mapList a{
  color: black;
}
// ShowMap styling
#allMaps{
  height: 600px;
  width: 600px;
}
#map {
  height: 400px;
}

#showmap{
  height:500px;
  width:500px;
}

.options{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width:32rem;
  margin-top: 1em;
  padding:20px;
}
.mapShowBtn{
  width: 50%;

}
.mapShowBtn a{
  margin: 20px;
  height: 70px;
  font-weight: bold;
}
.mapShowBtn button{
  height: 70px;
  margin: 20px;
  font-weight: bold;
}
.userMap{
  align-items: center;
  width: 100%;
  height: 70%;
}
#allMaps{
  width: 700px;
  height: 700px;
}
.mapcontainer{
  display: flex;
  justify-content: space-between;
  margin: 4em;
  flex-wrap: wrap;
  margin-top: 2em;
  padding: 2em;
}
.eachMap{
  margin-bottom: 3em;
}

.wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2em;
  height: 500px;
}
//PIN styles
.pinList{
  background-color: #FDFD96;
  border-radius: 10px;
  font-size: 20px;
  width:60%;
  margin: 0 auto;
  padding-top:20px;
  margin-top: 40px;

}
.pinImage{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height:500px;
  width:500px;
}
.dsc{
  padding-top: 10px;
  width: 100%;
  font-size: 17px;
}
.pinImage img{
  height: 500px;
  width:600px;
}
.pinImage a{
width: 25%;
}
.pinButtons{
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.pinList table{
  margin-left: 20px;
  text-align:left;

}

.pinList a{
  color: black;
}
.pinContainer{
  margin-top: 2em;
  margin: 12em;
  height:40%;
  width:40%;
}
.pinDelete{
  display: inline;
}

// CreateMap form styling

.newmap-form {
  padding: 50px 0;

}

.newmap-form h4{
  padding-bottom: 30px;
}
.newmap-form form{
  background-color: #fff;
  max-width: 600px;
  margin: auto;
  padding: 50px 70px;
  border-radius: 30px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.newmap-form .form-icon{
	  text-align: center;
    background-color: #94c8ec;
    border-radius: 50%;
    font-size: 40px;
    color: rgb(255, 255, 255);
    width: 100px;
    height: 100px;
    margin: auto;
    margin-bottom: 50px;
    line-height: 100px;
}

.newmap-form .item{
	border-radius: 20px;
    margin-bottom: 25px;
    padding: 10px 20px;
    height: 4em;
}

.newmap-form submit {
  border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #94c8ec;
    border: none;
    color: white;
    margin-top: 20px;
}

.newmap-form .submit {
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  background-color: #94c8ec;
  border: none;
  color: white;
  margin-top: 20px;
  cursor: pointer;
}

.form-group {
  text-align: center;
}
//popUP Styles
.popUpImage{
  padding:5px;

}
.popUpImage img{
  height:3rem;
  width:8em;
  margin-right:1em;
  margin-bottom: 1em;
}
// 404 Error styling

#errorpage {
  background-color: #94c8ec;
}

.mainbox {
  background-color: #94c8ec;
  margin: auto;
  height: 600px;
  width: 600px;
  position: relative;
}

  .err {
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11rem;
    position:absolute;
    left: 20%;
    top: 8%;
  }

.far {
  position: absolute;
  font-size: 8.5rem;
  left: 42%;
  top: 15%;
  color: #ffffff;
}

 .err2 {
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11rem;
    position:absolute;
    left: 68%;
    top: 8%;
  }

.msg {
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.6rem;
    position:absolute;
    left: 16%;
    top: 45%;
    width: 75%;
  }

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}
